body {
    background-image: url("background-image.jpg");
}

.page-title {
    text-align: center;
    padding: 40px;
    font-size: 80px;
    font-family: 'Henny Penny', cursive;
}

.main-content {
    text-align: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
    font-size: 18px;
}


#dog-button {
    cursor: pointer;
    background-color: #FFD700;
    padding: 10px;
    margin: 20px;
    border-radius: 15%;
}
